@charset "UTF-8";
* { 
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

body {
    width: 100%;
    cursor: url(../images/cursor.png) 16 16, auto;
}

/*START of navbar*/
nav{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: .8px solid;
    z-index: 2;
    transition: .4s linear;
    position: sticky;
    top: 0;
}

#newyork nav, #newyork nav div ul{
    background-color: #E6E8E6;
}

#summer19 nav, #summer19 nav div ul{
    background-color: #F2F1EC;
}

nav.charles-nav, nav.charles-nav div ul{
    background-color: #c5d3c7!important;
}

nav a{
    color: black;
    display: inline-block;
    padding: 1rem;
    vertical-align: middle;
    text-decoration: none;
    cursor: url(../images/hover.png) 16 16, auto;
}

nav div > a{
    font-family: 'Hatton', serif;
    font-size: 1.3rem;
    padding: 1.3rem 0 1.3rem 1.3rem;
}

nav span{
    padding: 15px 10px;
    position: relative;
    display: inline-block;
    transition: .3s cubic-bezier(.215,.61,.355,1.000);
}

nav ul{
    list-style: none;
    display: flex;
}

nav div ul{
    display: block;
    opacity: 0;
    white-space: nowrap;
    position: absolute;
    left: 0;
    border: .8px solid;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

nav div li:first-of-type{
    padding: 1.3rem 1.3rem;
    border-bottom: .8px solid;
}

nav div li:not(:first-of-type){
    border-bottom: .8px solid;
    font-family: 'Hatton', serif;
    font-weight: 100;
}

nav div li:last-of-type{
    border-bottom: none;
}

@media (hover: hover) and (pointer: fine){
    nav > div:hover > ul{
        z-index: 3;
        opacity: 1;
        transform: scaleY(1);
    }
    nav > div:hover > span{
        transform: rotate(180deg);
        transform-origin: center;
    }
}
@media (hover: none), (pointer: coarse){
    nav > div:hover > ul{
        opacity: 0;
        transform: scaleY(0);
    }
    nav > div:hover > span{
        transform: rotate(0);
    }
}
nav.dropdown > div > ul{
    z-index: 3;
    opacity: 1;
    transform: scaleY(1);
}
nav.dropdown > div > span{
    transform: rotate(180deg);
    transform-origin: center;
}
/*END of navbar*/

/* Start of New York */
#newyork nav{
    opacity: 0;
}

.play-intro{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-family: 'Hatton', serif;
    color: #ef5252;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-image:url(../images/newyork2.png);
    background-size: cover;
}

.play-intro h1{
    font-size: calc(9vw + 1.5rem);
    animation:
    typing 3s steps(30, end),
    cursor .75s step-end 3;
}
.play-intro h3{
    width: 0;
    font-size: calc(4vw + 1rem);
    animation:
    typing-small 1.5s steps(15, end) 2s forwards,
    cursor .75s step-end 2 2s;
}

.play-intro *{
    font-weight: 300; 
    margin: 0 auto;
    overflow: hidden;
    border-right: 3px solid transparent;
    white-space: nowrap;
    margin: 0 auto;
}

@keyframes typing {from{ width: 0 } to{ width: calc(63vw + 1rem) }}
@keyframes typing-small {from{ width: 0 } to{ width: calc(16vw + 1rem) }}

@keyframes cursor {
  from, to { border-color: #ef5252 }
  50% { border-color: transparent; }
}

.parallax{
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: auto;
    height: auto;
    padding: 10%;
    margin-top: 100vh;
    background-color: #e1e3e1;
    display: flex;
    flex-flow: column nowrap;
}

.parallax span{
    position: relative;
    display: inline-block;
    width: calc(15vw + 4rem);
    cursor: url(../images/hover.png) 16 16, auto;
}
.parallax span::before{
    z-index: 1;
    position: absolute;
    font-family: 'Hatton', serif;
    font-size: 5vw;
    font-weight: 100;
    opacity: 1;
}
.parallax span img{
    width: 100%;
    display: block;
}

.parallax span:first-of-type{
    margin: 10vh 0;
    align-self: flex-end;
    right: 7vw;
}
.parallax span:first-of-type::before{
    content: "01";
    top: -10%;
    left: -20%;
}
.parallax span:nth-of-type(2){
    margin: 10vh 0;
    align-self: flex-start;
    left: 12vw;
}
.parallax span:nth-of-type(2)::before{
    content: "02";
    top: -10%;
    left: -20%;
}
.parallax span:nth-of-type(3){
    margin: 25vh 0 0 0;
    align-self: center;
    left: 15vw;
}
.parallax span:nth-of-type(3)::before{
    content: "03";
    top: -10%;
    left: -20%;
}
.parallax span:nth-of-type(4){
    margin: 10vh 0;
    align-self: flex-start;
}
.parallax span:nth-of-type(4)::before{
    content: "04";
    top: -8%;
    left: -25%;
}
.parallax span:nth-of-type(5){
    margin: 10vh 0 0 0;
    align-self: flex-end;
}
.parallax span:nth-of-type(5)::before{
    content: "05";
    right: -10%;
    top: -10%;
}
.parallax span:nth-of-type(6){
    margin: 0 0 -30vh 0;
    width: calc(18vw + 4rem);
    align-self: center;
    left: -3vw;
}
.parallax span:nth-of-type(6)::before{
    content: "06";
    top: -10%;
    left: -20%;
}
.parallax span:nth-of-type(7){
    margin: -5vh 0 -20vh 0;
    width: calc(14vw + 4rem);
    align-self: flex-end;
    right: -3vw;
}
.parallax span:nth-of-type(7)::before{
    content: "07";
    top: -10%;
    left: -20%;
}
.parallax span:nth-of-type(8){
    margin: 50vh 0 0 0;
    width: calc(25vw + 4rem);
    align-self: flex-start;
}
.parallax span:nth-of-type(8)::before{
    content: "08";
    right: -5%;
    bottom: -20%;
}
.parallax span:nth-of-type(9){
    margin: 0 0 50vh 0;
    width: calc(16vw + 4rem);
    align-self: center;
    left: 17vw;
}
.parallax span:nth-of-type(9)::before{
    content: "09";
    right: -10%;
    top: 50%;
}
.parallax span:nth-of-type(10){
    margin: 0 0 -30vh 0;
    width: calc(19vw + 4rem);
    align-self: flex-start;
    left: 6.5vw;
}
.parallax span:nth-of-type(10)::before{
    content: "10";
    top: -7%;
    left: -15%;
}
.parallax span:nth-of-type(11){
    margin: -20vh 0 -20vh 0;
    width: calc(21vw + 4rem);
    align-self: flex-end;
    right: 7vw;
}
.parallax span:nth-of-type(11)::before{
    content: "11";
    right: -5%;
    top: -10%;
}
.parallax span:nth-of-type(12){
    margin: 0 0 calc(30vw + 20vh) 0;
    width: calc(21vw + 4rem);
    align-self: flex-start;
    left: 6vw;
}
.parallax span:nth-of-type(12)::before{
    content: "12";
    right: -10%;
    top: -10%;
}
.parallax span:nth-of-type(13){
    margin: calc(13vh + 10vw) 0 calc(7vw + 2vh) 0;
    width: calc(14vw + 4rem);
    align-self: flex-end;
    right: 13vw;
}
.parallax span:nth-of-type(13)::before{
    content: "13";
    right: -10%;
    top: -10%;
}
.parallax span:nth-of-type(14){
    margin: calc(15vh + 20vw + 30rem) 0 calc(-30vw - 50rem - 5vh) 0;
    width: calc(24vw + 4rem);
    align-self: center;
    right: 3vw;
}
.parallax span:nth-of-type(14)::before{
    content: "14";
    bottom: -16%;
    left: -10%;
}
.parallax span:nth-of-type(15){
    width: calc(22vw + 4rem);
    align-self: flex-start;
    left: 14vw;
}
.parallax span:nth-of-type(15)::before{
    content: "15";
    top: -7%;
    left: -10%;
}

.parallax span img, .parallax span::before{
    transition: 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

@media (hover: hover) and (pointer: fine){
    .parallax span:hover{
        z-index: 1;
    }
    .parallax span:hover img{
        z-index: 1;
        transform: scale(1.7);
        transition: 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    }
    .parallax span:hover::before{
        opacity: 0;
        transition: 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    }
}

.parallax h3{
    font-family: 'IBM PLex Mono', monospace;
    font-size: 11px;
    width: calc(16% + 5rem);
    line-height: 25px;
    left: 0;
    right: -30%;
    margin: 0 auto;
    position: absolute;
    bottom: 7.9%;
}

.bg-text{
    pointer-events: none;
    font-family: 'Hatton', serif;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
.bg-text h1{
    font-size: 9vw;
    font-weight: 300;
    margin-bottom: 3vw;
}
.bg-text p{
    font-size: 4.5vw;
    font-weight: 300;
}

.bg-text:first-of-type{
    top: 20%;
    color: #E9D01A;
}
.bg-text:nth-of-type(2){
    top: 38%;
    color: #EA2F05;
}
.bg-text:nth-of-type(3){
    bottom: 43%;
    color: #292929;
}
.bg-text:last-of-type{
    bottom: 27%;
    color: white;
}
/* End of New York */

/*Start of Summer 2019*/
#summer19 nav{
    opacity: 0;
}

#summer19-intro{
    z-index: -1;
    position: fixed;
    top: 0;
    background-color: #EFEAD6;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
#summer19-intro p{
    position: absolute;
    padding: 1rem 1rem;
    bottom: 7%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.6rem;
    line-height: 1rem;
    font-weight: bolder;
}
#summer19-intro div{
    margin-bottom: 5%;
    width: calc(4rem + 40vw);
    height: calc(3rem + 30vw);
    background-image: url(../images/chipo/summer1.jpg);
    background-size: cover;
    position: relative;
}
#summer19-intro h1, #summer19-intro h3{
    position: absolute;
    font-family: 'Hatton', serif;
    font-size: calc(1rem + 7vw);
    font-weight: 300;
    color: #FB9E18;
}
#summer19-intro h1{
    top: -8%;
    left: 0;
    width: 100%;
    -webkit-animation:vibrate-3 29s linear infinite both;animation:vibrate-3 29s linear infinite both;
}
#summer19-intro h3{
    bottom: -12%;
    left: -15%;
    right: 0;
    margin: 0 auto;
    width: 130%;
    -webkit-animation:vibrate-3 30s linear infinite reverse both;animation:vibrate-3 30s linear infinite reverse both;
}

@-webkit-keyframes vibrate-3{0%{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-7px,-7px);transform:translate(-7px,-7px)}20%{-webkit-transform:translate(7px,-7px);transform:translate(7px,-7px)}30%{-webkit-transform:translate(-7px,7px);transform:translate(-7px,7px)}40%{-webkit-transform:translate(7px,7px);transform:translate(7px,7px)}50%{-webkit-transform:translate(-7px,-7px);transform:translate(-7px,-7px)}60%{-webkit-transform:translate(7px,-7px);transform:translate(7px,-7px)}70%{-webkit-transform:translate(-7px,7px);transform:translate(-7px,7px)}80%{-webkit-transform:translate(-7px,-7px);transform:translate(-7px,-7px)}90%{-webkit-transform:translate(7px,-7px);transform:translate(7px,-7px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-3{0%{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-7px,-7px);transform:translate(-7px,-7px)}20%{-webkit-transform:translate(7px,-7px);transform:translate(7px,-7px)}30%{-webkit-transform:translate(-7px,7px);transform:translate(-7px,7px)}40%{-webkit-transform:translate(7px,7px);transform:translate(7px,7px)}50%{-webkit-transform:translate(-7px,-7px);transform:translate(-7px,-7px)}60%{-webkit-transform:translate(7px,-7px);transform:translate(7px,-7px)}70%{-webkit-transform:translate(-7px,7px);transform:translate(-7px,7px)}80%{-webkit-transform:translate(-7px,-7px);transform:translate(-7px,-7px)}90%{-webkit-transform:translate(7px,-7px);transform:translate(7px,-7px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

#chipo-parallax{
    margin-top: 100vh;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #F2F1EC;
    display: flex;
}
#chipo-parallax > img{
    position: sticky;
    top: 0;
    width: 50%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

#chipo-parallax > div{
    overflow: hidden;
    align-self: flex-end;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
}
#chipo-parallax > div p{
    position: absolute;
    top: calc(97vh - 3rem);
    width: 50%;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.56rem;
    line-height: 1rem;
    font-weight: bolder;
}
#chipo-parallax > div h1{
    margin-top: calc(6% + 4.5rem);
    font-family: 'Hatton', sans-serif;
    font-size: 9vw;
    font-weight: 300;
    text-align: center;
    color: #B7CDB9;
}
#chipo-parallax span{
    position: relative;
    margin: 0 0 50vh 0;
    width: 50%;
    height: auto;
}
#chipo-parallax span img{
    width: 100%;
    display: block;
}
#chipo-parallax span:first-of-type{
    margin: 30vh 0 50vh 0;
    width: calc(6vw + 4rem);
    align-self: center;
}
#chipo-parallax span:nth-of-type(2){
    margin: -30vh 0 50vh 0;
    width: calc(30% + 4rem);
    align-self: flex-end;
}
#chipo-parallax span:nth-of-type(2) img{
    transform-origin: right;
}
#chipo-parallax span:nth-of-type(3){
    margin: 40vh 0 20vh 0;
    width: calc(52% + 4rem);
    align-self: flex-start;
}
#chipo-parallax span:nth-of-type(3) img{
    transform-origin: left;
}
#chipo-parallax span:nth-of-type(4){
    margin: 20vh 0 20vh 0;
    width: 100%;
    align-self: flex-start;
}
#chipo-parallax span:nth-of-type(4) img{
    transform-origin: bottom;
}
#chipo-parallax span:nth-of-type(5){
    margin: 70vh 0 50vh 0;
    width: calc(42% + 4rem);
    align-self: center;
}
#chipo-parallax span:nth-of-type(6){
    margin: 30vh 0 0 0;
    width: calc(30% + 4rem);
    align-self: flex-end;
}
#chipo-parallax span:nth-of-type(6) img{
    transform-origin: right;
}
#chipo-parallax span:nth-of-type(7){
    margin: -150vh 0 50vh 0;
    width: calc(42% + 4rem);
    align-self: flex-start;
}
#chipo-parallax span:nth-of-type(7) img{
    transform-origin: left;
}
#chipo-parallax span:nth-of-type(8){
    margin: 110vh 0 0vh 0;
    width: calc(28% + 4rem);
    align-self: flex-end;
    right: 10%;
}

#chipo-parallax span{
    transition: 1.1s cubic-bezier(0, 0.55, 0.45, 1);
}
#chipo-parallax span img{
    transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}
#chipo-parallax span img:hover{
    z-index: 1;
    transform: scale(1.45);
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

#charles-parallax{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #c5d3c7;
    display: flex;
}
#charles-parallax > h1{
    position: absolute;
    width: 50%;
    right: 0;
    top: 50vh;
    text-align: center;
    font-family: 'Hatton', sans-serif;
    font-size: 9vw;
    font-weight: 300;
    color: white;
    
}
#charles-parallax > img{
    position: sticky;
    top: 0;
    width: 50%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

#charles-parallax > div{
    overflow: hidden;
    align-self: flex-end;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
}
#charles-parallax > div p{
    position: absolute;
    top: calc(97vh - 3rem);
    width: 50%;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.56rem;
    line-height: 1rem;
    font-weight: bolder;
}
#charles-parallax p a{
    text-decoration: none;
    color: black;
}
#charles-parallax span{
    position: relative;
    margin: 0 0 50vh 0;
    width: 50%;
    height: auto;
}
#charles-parallax span img{
    width: 100%;
    display: block;
}
#charles-parallax span:first-of-type{
    margin: calc(300px + 0vw + 80vh) 0 30vh 0;
    width: calc(11vw + 4rem);
    align-self: center;
}
#charles-parallax span:nth-of-type(2){
    margin: -100vh 0 170vh 0;
    width: calc(35% + 4rem);
    align-self: flex-start;
}
#charles-parallax span:nth-of-type(3){
    margin: 100vh 0 -20vh 0;
    width: calc(45% + 4rem);
    align-self: flex-end;
}
#charles-parallax span:nth-of-type(4){
    z-index: 1;
    margin: -100vh 0 130vh 0;
    width: calc(30% + 4rem);
    align-self: flex-start;
    left: 15%;
}
#charles-parallax span:nth-of-type(5){
    margin: 0 0 0 0;
    width: calc(30% + 4rem);
    align-self: flex-end;
    right: 15%;
}
#charles-parallax span:last-of-type{
    margin: 40vh 0 0 0;
    width: calc(11vw + 4rem);
    align-self: center;
}

#charles-parallax span{
    transition: 1.1s cubic-bezier(0, 0.55, 0.45, 1);
}
#charles-parallax span img{
    transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}
#charles-parallax span:hover{
    z-index: 1;
}
#charles-parallax span img:hover{
    z-index: 1;
    transform: scale(1.45);
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
/*End of Summer 2019*/
@media only screen and (max-width: 1366px){
    .parallax h3{
        bottom: 1%;
    }
}
@media only screen and (max-width: 856px){
    .parallax h3{
        position: static;
        padding: 2rem 1.5rem 1.5rem 1.5rem;
        width: auto;
        font-size: 9px;
    }
    
    nav div > a{
        font-size: calc(0.6rem + 0.75vh + 1.65vw);
        padding: 1rem 0 1rem 1rem;
    }
    nav > ul a{
        padding: 1rem 1rem 1rem 0.5rem;
    }
    nav.dropdown > div > ul{
        z-index: 3;
        opacity: 1;
        transform: scaleY(1);
    }
    nav.dropdown > div > span{
        transform: rotate(180deg);
        transform-origin: center;
    }
}
@media only screen and (max-width: 560px){
    nav div > a{
        font-size: 1rem;
        padding: 1rem 0 1rem 1rem;
    }
    nav span{
        padding: 15px 0 15px 0;
    }
    nav > ul a{
        font-size: 0.7rem;
    }
    
    .parallax span::before{
        font-size: 2.5rem;
    }
    
    .parallax span:first-of-type{
        margin: 10rem 0;
        width: 85%;
        right: 0;
    }
    .parallax span:first-of-type::before{
        top: -10%;
        left: -12%;
    }
    .parallax span:nth-of-type(2){
        margin: 5rem 0 22rem 0;
        width: 70%;
        align-self: flex-start;
        left: 0;
    }
    .parallax span:nth-of-type(2)::before{
        left: -15%;
    }
    .parallax span:nth-of-type(3){
        margin: 15rem 0 0 0;
        width: 80%;
        align-self: flex-end;
        right: 0;
        left: 0;
    }
    .parallax span:nth-of-type(3)::before{
        top: -10%;
        left: -13%;
    }
    .parallax span:nth-of-type(4){
        margin: 0 0 40rem 0;
        width: 60%;
    }
    .parallax span:nth-of-type(4)::before{
        left: -19%;
    }
    .parallax span:nth-of-type(5){
        margin: 5rem 0 16rem 0;
        width: 60%;
    }
    .parallax span:nth-of-type(5)::before{}
    .parallax span:nth-of-type(6){
        margin: 0 0 -14rem 0;
        width: 70%;
        left: 0;
        right: 0;
    }
    .parallax span:nth-of-type(6)::before{
        top: -7%;
    }
    .parallax span:nth-of-type(7){
        margin: -2rem 0 16rem 0;
        width: 62%;
        right: 0;
    }
    .parallax span:nth-of-type(7)::before{
        left: -15%;
    }
    .parallax span:nth-of-type(8){
        margin: 13rem 0 15rem 0;
        width: 80%;
    }
    .parallax span:nth-of-type(8)::before{}
    .parallax span:nth-of-type(9){
        margin: 0 0 25rem 0;
        width: 68%;
        align-self: center;
        left: 5%;
    }
    .parallax span:nth-of-type(9)::before{}
    .parallax span:nth-of-type(10){
        margin: 20rem 0 -10rem 0;
        width: 72%;
        align-self: flex-start;
        left: 6.5vw;
    }
    .parallax span:nth-of-type(10)::before{}
    .parallax span:nth-of-type(11){
        margin: -30rem 0 0 0;
        width: 70%;
        right: 0;
    }
    .parallax span:nth-of-type(11)::before{}
    .parallax span:nth-of-type(12){
        margin: -20rem 0 42rem 0;
        width: 75%;
        left: 0;
    }
    .parallax span:nth-of-type(12)::before{
        top: -9%;
    }
    .parallax span:nth-of-type(13){
        margin: 12rem 0 90rem 0;
        width: 60%;
        right: 0;
    }
    .parallax span:nth-of-type(13)::before{}
    .parallax span:nth-of-type(14){
        margin: 0 0 -100rem 0;
        width: 80%;
        right: 3%;
    }
    .parallax span:nth-of-type(14)::before{}
    .parallax span:nth-of-type(15){
        margin: -10rem 0 0 0;
        width: 85%;
        align-self: center;
        left: 0;
        right: 0;
    }
    .parallax span:nth-of-type(15)::before{}
    
    .bg-text h1{font-size: 10vw;}
    .bg-text p{font-size: 5.5vw;}
    .bg-text:first-of-type{
        top: 28%;
    }
    .bg-text:nth-of-type(2){
        top: 44.5%;
    }
    .bg-text:nth-of-type(3){
        top: calc(60vh + 56.6%);
    }
    .bg-text:last-of-type{
        top: calc(72.7%);
    }
    
    #chipo-parallax {
        flex-flow: column nowrap;
    }
    #chipo-parallax > img{
        position: static;
        width: auto;
    }
    #chipo-parallax > div{
        width: 100%;
        position: relative;
    }    
    #chipo-parallax > div h1{
        font-size: 19vw;
    }
    #chipo-parallax > div p{
        width: 100%;
    }
    #chipo-parallax span:first-of-type{
        margin: 62vh 0 50vh 0;
        width: 40%;
    }
    
    #charles-parallax {
        flex-flow: column-reverse nowrap;
    }
    #charles-parallax > img{
        position: static;
        width: auto;
    }
    #charles-parallax > h1{
        width: 100%;
        font-size: 19vw;
    }
    #charles-parallax > div{
        width: 100%;
        position: relative;
    }
    #charles-parallax > div p{
        width: 100%;
    }
    #charles-parallax span:first-of-type{
        margin: calc(300px + 0vw + 109vh) 0 30vh 0;
        width: 40%;
    }
}