@charset "UTF-8";
* { 
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

body {
    background-color: #d1d1c5;
    width: 100%;
    cursor: url(../images/cursor.png) 16 16, auto;
}

@keyframes bg-transition{
    25%{background-color: white;}
    50%{background-color: #f0f0f0;}
    75%{background-color: #d6d5c6;}
    100%{background-color: #ffe0eb;}
}

#index{
    animation: bg-transition 15s linear alternate infinite;   
}

wrapper {
    width: 90%;
    margin: 0 auto;
}

#skip-button{
    cursor: url(../images/hover.png) 16 16, auto;
    z-index: 6;
    position: fixed;
    mix-blend-mode: hard-light;
    width: calc(1.88rem + 2vw);
    height: calc(2.5rem + 2vh);
    margin: calc(1rem + 5vw) 0 0 calc(1rem + 6vw);
    background: url(../images/smiley.png) center/contain no-repeat;
    opacity: 0;
}
#skip-button:hover{
    mix-blend-mode: normal;
}
#skip-button::after{
    content: "";
    position: fixed;
    left: calc(2.88rem + 8vw + 1rem);
    top: calc(2.25rem + 5vw + 1vh - 8px);
    width: 8rem;
    height: 21px;
    background: url(../images/arrow.png) center/contain no-repeat;
}
#skip-button::before{
    content: "Click to skip!";
    position: fixed;
    left: calc(2.88rem + 8vw + 2rem);
    top: calc(2.25rem + 5vw + 1vh - 12px);
    white-space: nowrap;
    font-family: 'IBM PLex Mono', monospace;
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

#butts{
    z-index: 3;
    position: fixed;
    top: -110%; left: 0;
    width: 100%; height: 100%;
    background: #E5E4DA url(../images/butts/noise.jpg) center/100% 100%;
    background-blend-mode: overlay;
    animation: butt-color 3s steps(1, end) 0.5s forwards;
}

/*
#butts h1{
    position: absolute;
    text-align: right;
    font-family: 'Hatton', serif;
    font-size: calc(1rem + 2vh + 1.2vw); font-weight: 200;
    top: 35%; right: 5%;
    animation: disappear 3.5s steps(1, end) forwards;
}
*/
/*
#butts h1 span:not(:first-of-type){opacity: 0;}
#butts h1 span:nth-of-type(2){animation: butt-text 0.8s steps(1, end) 0.5s forwards;}
#butts h1 span:nth-of-type(3){animation: butt-text 1.5s steps(1, end) 0.5s forwards;}
#butts h1 span:nth-of-type(4){animation: butt-text 2.3s steps(1, end) 0.5s forwards;}
*/

#butts img {
    box-sizing: border-box;
    padding: 0 10% 7% 10%;
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 50%;
    object-fit: contain;
    object-position: bottom center;
}
#butts img:not(:first-of-type){opacity: 0}
#butts img:first-of-type{animation: disappear 0.75s steps(1, end) 0.5s forwards;}
#butts img:nth-of-type(2){animation: disappear 0.75s steps(1, end) 1.25s forwards;}
#butts img:nth-of-type(3){animation: disappear 0.75s steps(1, end) 2s forwards;}
#butts img:nth-of-type(4){animation: disappear 0.75s steps(1, end) 2.75s forwards;}
#butts img:nth-of-type(5){animation: appear 0s steps(1, end) 3.5s forwards;}

@keyframes butt-color {
    0% {background-color: #E5E4DA} 25% {background-color: #E2AEA9} 50% {background-color: #94A353} 75% {background-color: #99B2DD} 100% {background-color: #1A1A1A}
}
@keyframes butt-text{from {opacity: 0} to {opacity: 1}}
@keyframes disappear{from {opacity: 1} to {opacity: 0}}
@keyframes appear{from {opacity: 0} to {opacity: 1}}

body.loading #butts{
    top: 0;
}
body.loading #skip-button{
    animation: disappear 3.5s steps(1, end) forwards;
}
body.load-ease #butts{
    transition: 0.8s cubic-bezier(0.33, 1, 0.68, 1);
}
body.loading, body.loading nav, body.loading nav div ul{
    animation-delay: 4.3s;
}

/*START of navbar*/
nav{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: .8px solid;
    z-index: 2;
    transition: .4s linear;
    position: sticky;
    top: 0;
}

nav, nav div ul{
    background-color: #d1d1c5;
}

#index nav, #index nav div ul{
    animation: bg-transition 15s linear alternate infinite;
}

#inspace nav, #inspace nav div ul{
    background-color: #d6d4d4;
}

#remixtype nav, #remixtype nav div ul{
    background-color: black;
}

#infodes1 nav, #infodes1 nav div ul{
    background-color: #eeeeee;
}

#infodes2 nav, #infodes2 nav div ul{
    background-color: white;
}

#laika nav, #laika nav div ul{
     background-color: white;
}

#play nav, #play nav div ul{
    background-color: transparent;
}

nav a{
    color: black;
    display: inline-block;
    padding: 1rem;
    vertical-align: middle;
    text-decoration: none;
    cursor: url(../images/hover.png) 16 16, auto;
}

#remixtype nav a{
    color: white;
}

nav div > a{
    font-family: 'Hatton', serif;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1.3rem 0 1.3rem 1.3rem;
}

nav span{
    padding: 15px 10px;
    position: relative;
    display: inline-block;
    transition: .3s cubic-bezier(.215,.61,.355,1.000);
}

nav ul{
    list-style: none;
    display: flex;
}

nav div ul{
    display: block;
    opacity: 0;
    white-space: nowrap;
    position: absolute;
    left: 0;
    border: .8px solid;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

nav div li:first-of-type{
    padding: 1.3rem 1.3rem;
    border-bottom: .8px solid;
}

nav div li:not(:first-of-type){
    border-bottom: .8px solid;
    font-family: 'Hatton', serif;
    font-weight: 200;
}

nav div li:last-of-type{
    border-bottom: none;
}

nav.dropdown > div > ul{
    z-index: 3;
    opacity: 1;
    transform: scaleY(1);
}
nav.dropdown > div > span{
    transform: rotate(180deg);
    transform-origin: center;
}

@media (hover: hover) and (pointer: fine){
    nav > div > span:hover{
        cursor: url(../images/hover.png) 16 16, auto;
        transform: scaleX(2) scaleY(1.25);
    }
    nav.dropdown > div > span:hover{
        cursor: url(../images/hover.png) 16 16, auto;
        transform: rotate(180deg) scaleX(2) scaleY(1.25);
    }
}
/*END of navbar*/

.header {
    font-size: 3.5rem;
    text-align: center; 
    padding: 6rem;
    margin: 3rem;
    line-height: 5rem;
}

#play .header{
    font-size: 3rem;
    color: whitesmoke;
}

.font1{font-family: Hatton}
.font1{font-weight: 500}
.font2{font-family: 'Quantico', sans-serif;}
.font3{font-family: 'Neue Machina', serif;}
.font3{font-weight: 200}


.work {
    padding: 0 3rem 0rem 3rem;
    white-space: nowrap;
    overflow-x: scroll; 
}

.work a img {
    width: 500px; 
    height: auto;
    vertical-align: middle;
    margin: 0 3rem 2rem 3rem;
}

.work a:last-of-type{
    margin-right: 3rem;
}

.work a {
    display: inline-block;
    position: relative; 
    cursor: url(../images/hover.png) 16 16, auto;
}

.work a h1 {
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    z-index: 1;
    position: absolute;
    top: 8px;
    right: 5%; 
    writing-mode: vertical-rl;
    opacity: 0;
    color: #434343;
    font-size: .8rem;
    transition: .3s ease;
    letter-spacing: 1px;
}

#play .work a h1{
    color: white;
}

.arrow {
    margin: 0 1rem 2rem 3rem;
    font-family: 'IBM Plex Mono', monospace;
    font-size: .8rem; 
}

@media (hover: hover) and (pointer: fine){
    .work a:hover h1 {
        opacity: 1;
        right: 4%;
    }
}
@media (hover: none), (pointer: coarse){
    .work a h1 {
        opacity: 1;
        right: 4%;
    }
}

@media (pointer: fine){
    /* width */
    ::-webkit-scrollbar {
        width: 1.1rem;
        height: 1.1rem;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.3);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #434343;
    }
    #play::-webkit-scrollbar-thumb, #play *::-webkit-scrollbar-thumb,  #remixtype::-webkit-scrollbar-thumb{
        background: #bababa;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #8e8e8e;
    }
    #play::-webkit-scrollbar-thumb:hover, #play *::-webkit-scrollbar-thumb:hover,  #remixtype::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }
}

.blurb{
    width: auto;
    height: 65vh;
    background-image: url(../images/Artboard%205.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 6rem 1rem;
}
/*END of Index*/

#comdes, #inspace, #remixtype, #infodes1, #infodes2, #laika{
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}

#inspace{
    background-color: #d6d4d4;
}

#remixtype{
    background-color: black;
    color: white;
}

#play{
    background-image: url(../images/Artboard%204-100.jpg);
    background-size: cover;
    background-position: center bottom;
}

#infodes1{
    background-color: #eeeeee;
}

#infodes2{
    background-color: white;
}

#laika{
   background-color: white;
}

body.darken .casestudy{
    background-color: black!important;
}
body.darken nav{
    opacity: 0;
}
body.darken .links{
    background-color: black!important;
}

/*START of wrapper1*/
.wrapper1{
    padding: calc(5vw + 50px) 150px 0 4.5rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

#comdes .wrapper1{
    background-color: #d1d1c5;
}

#inspace .wrapper1{
    background-color: #d6d4d4;
}

#remixtype .wrapper1{
    background-color: black;
}

#infodes1 .wrapper1{
    background-color: #eeeeee;
}

#infodes2 .wrapper1{
    background-color: white;
}

#laika .wrapper1{
    background-color: white;
}

.front-img{
    height: auto;
    width: auto;
    position: relative;
}

.front-img img{
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: top;
}

.somerb::before, .inspace::before, .remixtype::before, .infodes1::before, .infodes2::before, .laika::before{
    position: absolute;
    display: inline-block;
    font-size: 13px;
    writing-mode: vertical-lr;
    right: -25px;
}

.somerb::before{
    content: "Communication Design";
}

.inspace::before{
    content: "Art Direction";
}

.remixtype::before{
    content: "Typography";
}

.infodes1::before{
    content: "Information Design";
}

.infodes2::before{
    content: "Information Design";
}

.laika::before{
    content: "Typeface Design";
}

.title-wrap{
    margin-top: calc(2vw + 10px);
    height: auto;
    position: relative;
}

.title{
    top: calc(2vw + 10px);
    position: sticky;
    background-color: #d1d1c5;
    z-index: 1;
}

#inspace .title{
    background-color: #d6d4d4;
}

#infodes1 .title{
    background-color: #eeeeee;
}

#infodes2 .title{
    background-color: white;
}

#laika .title{
   background-color: white;
}

.title h1{
    font-family: 'Hatton', serif;
    font-weight: 500;
    font-size: calc(2rem + 2vw);
    margin-bottom: 25px;
}

#comdes .title h1{
    font-size: calc(1rem + 2.2vw);
}

#infodes1 .title h1{
    font-size: calc(0.5rem + 2.7vw);
}

#infodes2 .title h1{
    font-size: calc(1rem + 2vw);
}

/*
#laika .title h1{
    font-size: calc(1rem + 2vw);
}
*/


.title p{
    line-height: 25px;
}

hr{
    margin: 10px 0px 10px 0px;
    min-height: 1px;
    width: calc(150px + 9vw);
    background-color: black;
}

#inspace hr{
    width: 215px;
}

#remixtype hr{
    background-color: white;
    width: 230px;
}

#infodes1 hr{
    width: calc(100px + 15vw);
}

#infodes2 hr{
    width: calc(75px + 15vw);
}

#laika hr{
    width: calc(80px + 15vw); 
}

.title-wrap a{
    display: block;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 400px;
}

/*END of wrapper1*/

/*START of casestudy*/
.casestudy{
    padding: 0 150px 0 4.5rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    transition: background .4s linear;
}

#comdes .casestudy{
    background-color: #d1d1c5;
}

#inspace .casestudy{
    background-color: #d6d4d4;
}

#remixtype .casestudy{
    background-color: black;
}

#infodes1 .casestudy{
    background-color: #eeeeee;
}

#infodes2 .casestudy{
    background-color: white;
}

#laika .casestudy{
   background-color: white;
}

.side{
    z-index: 0;
    margin: 100px 0 0 0;
    width: 100%;
    height: 75vh;
    position: sticky;
    top: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.side > span{
    text-align: right;
    width: calc(150px + 9vw);
    margin-bottom: 20px;
    transition: all 0.7s cubic-bezier(0.85, 0, 0.15, 1);
}

.side a{
    text-decoration: none;
    color: black;
}

#remixtype .side a{
    color: white;
}

@media (hover: hover) and (pointer: fine){
    .side a:hover{
        text-decoration: underline;
    }
}
@media (hover: none), (pointer: coarse){
    .side a:hover{
        text-decoration: underline;
    }
}

.side > span.active{
    flex-grow: 1;
}

.content{
    margin: 0;
    grid-column: 2/3;
    width: 100%;
    position: relative;
    padding-top: 100px;
}

.content h1{
    font-family: "Telegraf", sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 55px;
    margin-bottom: 30px;
    width: 90%;
}

.content h3{
    font-weight: 400;
    margin-bottom: 25px;
}

.content p{
    width: 85%;
    line-height: 30px;
    margin-bottom: 40px;
}

#one{
    min-height: auto;
}

#two{
    display: grid;
    grid-template-columns: 50% 50%;
}

#two h1:first-of-type{
    margin-bottom: 60px;
}

#two h1:nth-of-type(2){
    margin-bottom: 50px;
}

#two>*{
    grid-column: 1/3;
}

#two ul{
    list-style: none;
    grid-column: 1/2;
    margin-right: 21px;
    margin-bottom: 70px;
}

#two li{
    padding: 1.5rem 2rem;
}

#two p:first-of-type{
    grid-column: 2/3;
    align-self: flex-end;
    width: 80%;
    margin-bottom: 70px;
}

#two, #three{
    height: auto;
/*    padding-bottom: 30vh;*/
}

#four{
/*    padding-bottom: 20vh;*/
    position: relative; 
}


#five{
    min-height: 75vh;
    margin-bottom: 0;
}

#two, #three, #four{
    padding-bottom: 100px;
}


#three img{
    width: calc(100px + 55%);
    max-width: 600px;
    height: auto;
}

/*start of carousel*/
.main-carousel{
    margin-bottom: 25vh;
    width: 39vw;
    max-width: 682.5px;
    height: 50vw;
    max-height: 875px;
}

/*
.main-carousel2{
    margin-bottom: 25vh;
    width: 35vw;
    max-width: 682.5px;
    height: 40vw;
    max-height: 875px;
}
*/

.carousel-2{
    margin-bottom: 5vh;
    width: 37vw;
    max-width: 550px;
    height: 50vw;
    max-height: 750px;
}

.carousel-3, .carousel-4, .carousel-5{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 15vh;
}

.carousel-cell{
    display: block;
    width: 100%;
    height: auto;
}

.flickity-button{
    width: 20px;
    height: 20px;
    top: 101.5%;
    background: none;
}

/*
.main-carousel2 .flicity-button{
    top: 115%;
}
*/

.carousel-2 .flickity-button{
    top: 101.5%;
} 

#remixtype .flickity-button{
    top: 104%;
    color: white;
}

.carousel-4 .flickity-button{
    top: 104%;
} 

.carousel-5 .flickity-button{
    top: 106.5%;
}

.next{
    right: 0!important;
}
.previous{
    left: 0!important;
}
.indicator{
    position: absolute;
    display: block;
    top: 100%;
    text-align: center;
    font-size: 14px;
    left: 0;
    right: 0;
}

/*
.main-carousel2 .indicator{
    top: 115%;
}
*/

.carousel-2 .indicator{
    top: 100%;
}

#remixtype .indicator{
    top: 102%;
}

.carousel-4 .indicator{
    top: 102%;
}

.carousel-5 .indicator{
    top: 105%;
}
/*end of carousel*/

.banner {
    display: grid;
    grid-template-columns:repeat(8, auto);
    width: 100vw;
    height: 90vh;
    position: absolute;
    right: -150px;
    align-items: center;
    min-height: 750px;
}

.banner img{
    width: 100%;
    height: auto;
}

#four h3:last-of-type{
    margin-top: calc(900px + 50vh);
}

.talkshow {
    width: calc(100px + 55%);
    max-width: 600px;
    height: auto;
}
/*END of casestudy*/

/*Start of links*/
.links{
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height: auto;
    justify-content: center;
    padding-bottom: 10rem;
    padding-top: 7rem;
    z-index: 1;
    margin-bottom: 100vh;
    transition: background .4s linear;
}

#comdes .links{
    background-color: #d1d1c5;
}

#inspace .links{
    background-color: #d6d4d4;
}

#remixtype .links{
    background-color: black;
}

#infodes1 .links{
    background-color: #eeeeee;
}

#infodes2 .links{
    background-color: white;
}

#laika .links{
    background-color: white;
}

.links h1{
    flex: 1 0 100%;
    font-family: "Hatton", serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 4.5rem;
}

.links h3{
    font-weight: 100;
/*    text-decoration: underline;*/
}

.links > div{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 70px;
    margin-right: 70px;
}

.links div a{
    height: auto;
    width: auto;
    position: relative;
    cursor: url(../images/hover.png) 16 16, auto;
}

#remixtype .links a::before{
    color: white;
}

.links div a::before{
    display: inline-block;
    position: absolute;
    writing-mode: vertical-lr;
    right: -1.75rem;
    color: black;
    white-space: nowrap;
}

#lost-in-space::before{
    content: "Lost In Space";
}

#somewhere::before{
    content: "Somewhere Over the Rainbow";
}

#remix-type::before{
    content: "Remix Type";
}

#info-heritage::before{
    content: "Visualization: Toronto Neighborhoods";
}

#info-foodlabel::before{
    content: "The Insufficiencies Of Food Labelling";
}

.links a img{
    width: 350px;
    height: auto;
    margin-bottom: 1rem;
}
/*End of links */

/* Lost in Space */
#one-l{
    height: 30vh;
    position: relative;
    padding-bottom: calc(200vh + 25vw);
    margin-bottom: 200px;
}

.banner2{
    z-index: 3;
    position: absolute;
    right: -150px;
    align-items: center;
    min-height: 750px;
    bottom: 0vh;
    width: 100vw;
    height: auto;
    display: flex;
    place-items: center;
}

.banner2 img{
    width: 100%;
    height: auto;
}

#two-l img, #three-l img:not(.carousel-cell), #four-l img{
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

#four-l{
    position: relative;
    padding-bottom: 150vh;
    margin-bottom: 200px;
}

.modal{
    cursor: url(../images/hover.png) 16 16, auto;
}

.modal-exit{
    -webkit-animation:fade-in .5s cubic-bezier(.25,.46,.45,.94) both;animation:fade-in .5s cubic-bezier(.25,.46,.45,.94) both
}

img.modal-active{
    cursor: url(../images/exit.png) 16 16, auto;
    z-index: 4;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto!important;
    max-width: 90%!important;
    max-height: 90%!important;
    width: auto!important;
    height: auto!important;
    -webkit-animation:fade-in-bottom .5s cubic-bezier(.215,.61,.355,1.000) both;animation:fade-in-bottom .5s cubic-bezier(.215,.61,.355,1.000) both
}

.modal-bg{
    transition: 0.5s ease;
}

.modal-active.invert{
    filter: invert(1);
}

.modal-bg.modal-active{
    display: block;
    cursor: zoom-out;
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.58);
    width: 100vw;
    height: 100vh;
}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

@-webkit-keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

#four-l .banner{
    bottom: 0;
    width: 100vw;
    height: auto;
    display: flex;
    place-items: center;
}
/* End of Lost in Space */

/*START of Remix Type*/
#remixtype .title{
    background-color: black;
}

#remixtype .title-wrap a{
    color: white;
}

#five-r img, #two-r img:not(.carousel-cell), #three-r img, #four-r img, #five-r img{
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}
/*END of Remix Type*/

/*START of Info Des*/
#one-i img:not(.carousel-cell), #two-i img:not(.carousel-cell), #three-i img:not(.carousel-cell), #four-i img:not(.carousel-cell), #five-i img:not(.carousel-cell){
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}
/*END of Info Des*/
#infodes2 video{
    width: 100%;
}

footer{
    visibility: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 100%;
    margin: 0 auto; 
    background-color: #b8c9b2;
    position: fixed;
    bottom: 0;
    z-index: -1;
    height: 100vh;
    align-content: center;
}

#remixtype footer{
    color: black;
}

footer > div:first-of-type{
    justify-self: flex-end;
    padding-right: 25px;
}

footer h2{
    font-family: "Telegraf", sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 50px;
    text-align: right;
}

footer h2 span{
    letter-spacing: 0;
}

footer h2:last-of-type{
    font-family: "Telegraf", sans-serif;
    font-weight: 500;
    font-size: 36px;
}

footer > div:last-of-type{
    width: auto;
    justify-self: flex-start;
    padding-left: 25px;
    
}

footer p{
    font-size: 16px; 
    line-height: 23px;
}

footer h4{
    font-size:12px;
    position: absolute;
    bottom: 5%;
}

footer a{
    font-family: "Telegraf", sans-serif;
    color: black;
    display: block;
    cursor: url(../images/hover.png) 16 16, auto;
    font-size: 16px;
    line-height: 20px;
}

#remixtype footer a{
    color: black;
}

footer > div > div{
    display: grid;
    grid-template-columns: auto auto;
}

footer > div > div div{
    
}

footer h3{
    font-weight: 100;
    font-size: 16px;
    flex: 1 0 100%;
}

.play {
    margin: 0;
    padding: 1rem 1.5rem 1rem 1.5rem;
    white-space: nowrap;
    overflow-x: scroll; 
}

.play a img {
    width: 500px; 
    height: 650px;
    vertical-align: middle;
    margin: 3rem 1.5rem 3rem 3rem;
}

.play a {
    display: inline-block;
    position: relative;   
}

.play a h1 {
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    z-index: 1;
    position: absolute;
    top: 55px;
    right: 3%; 
    writing-mode: vertical-rl;
    opacity: 0;
    color: #434343;
    font-size: .7rem;
    transition: .3s ease;
    letter-spacing: 1.5px;
}

.play a:hover h1 {
    opacity: 1;
    right: 0.5%;
}

@media only screen and (max-width: 856px){
    #butts img{
        object-position: bottom center;
    }
    
    nav div > a{
        font-size: calc(0.6rem + 0.75vh + 1.65vw);
        padding: 1rem 0 1rem 1rem;
    }
    nav > ul a{
        padding: 1rem 1rem 1rem 0.5rem;
    }
    .wrapper1{
        display: flex;
        flex-flow: column-reverse nowrap;
        padding: calc(5vw + 50px) 2.5rem 0 2.5rem;
    }
    .title-wrap{
        margin-top: 3rem;
        height: 90vh;
    }
    .title-wrap a{
        display: none;
    }
    .title{
        top: 3rem;
    }
    .title h1{
        font-size: calc(6.5vw + 0.5rem)!important;
    }
    .front-img{
        width: 85%;
        align-self: center;
    }
    .casestudy{
        grid-template-columns: 1fr;
        padding: 0;
    }
    .side{
        overflow-x: hidden;
        transition: .4s linear;
        margin: 0;
        padding: 4.2rem 2rem 0 2rem;
        top: -4.2rem;
        z-index: 1;
        flex-flow: row nowrap;
        width: auto;
        height: auto;
        background-color: #d1d1c5;
    }
    #inspace .side{
        background-color: #d6d4d4;
    }
    #remixtype .side{
        background-color: black;
    }
    #infodes1 .side{
        background-color: #eeeeee;
    }
    #infodes2 .side, #laika .side{
        background-color: white;
    }
    body.darken .side{
        opacity: 0;
    }
    .side > span{
        text-align: left;
        font-size: 13.5px;
        width: auto;
        margin: 1.2rem 0.5rem 1.2rem 0.5rem;
    }
    .side > span a{
        position: relative;
    }
    .side > span a span{
        position: absolute;
        left: 140%;
        white-space: nowrap;
        transition: all 0.7s cubic-bezier(0.85, 0, 0.15, 1);
        transform-origin: left;
        transform: scaleX(0); opacity: 0;
    }
    .side > span.active a span{
        transform: scaleX(1); opacity: 1;
    }
    
    .content{
        width: auto;
        grid-column: 1/2;
        padding: 150px 2.5rem 0 2.5rem;
    }
    .content p{
        width: auto;
    }
    .content img {
        width: 100%!important;
    }
    
    .main-carousel{
        width: 78vw;
        max-width: 100%;
        height: 100vw;
        max-height: 100%;
    }
    .carousel-2{
        width: 74vw;
        max-width: 100%;
        height: 100vw;
        max-height: 100%;
    }
    .carousel-3, .carousel-4, .carousel-5{
        width: 100%;
        height: auto;
    }
    .flickity-button{
        top: 102%;
    }
    .carousel-2 .flickity-button{
        top: 102.5%;
    } 
    .carousel-3 .flickity-button{
        top: 106%;
        color: white;
    }
    .carousel-4 .flickity-button{
        top: 106%;
    }
    .carousel-5 .flickity-button{
        top: 105.5%;
    }
    .banner, .banner2{
        right: 0;
    }
    #comdes .banner{
        grid-template-columns: repeat(4, auto);
        align-content: center;
    }
    .links h1{
        font-size: 40px;
    }
    .links div{
        margin-bottom: 5rem;
        margin-left: 5.2rem;
    }
    .links div a::before{
        right: 0;
        font-size: 12px;
        margin-left: 1rem;
    }
    
    .links h3{
        font-size: 12px;
    }
    
    .links a img{
        width: 90%;
        margin-bottom: 5px;
    }
    footer{
        grid-template-columns: 1fr;
        padding: 0 0 0 0;
    }
    footer > div {
        justify-self: center!important;
        padding-right: 0!important;
        padding-left: 0!important;
        margin: 0 0 1rem 0;
    }
    footer > div:first-of-type *{
        text-align: left!important;
    }
}
@media only screen and (max-width: 680px){
    .header{
        font-size: calc(2vw + 1rem);
        line-height: calc(0.8vh + 2rem);
        padding: 5rem calc(0.5vw + 1rem);
        margin: calc(2vw + 1rem);
    }
    
    .work a img{
        width: calc(200px + 20vw);
    }
    .work a:first-of-type img{
        margin: 0rem 3rem 2rem 0rem;
    }
    
    .work a:last-of-type img{
        margin: 0rem 0rem 2rem 3rem;
    }
    .work a:last-of-type h1{
        right: -5%;
    }
    
    .work a h1{
        right: 9%;
        font-size: 10px;
    }
    .arrow{
        margin: 0 1rem 2rem 0;
        font-size: .7rem;
    }
    
    .blurb{
        margin: 3rem 2rem;
        height: 40vh;
    }
}
@media only screen and (max-width: 560px){  
    nav div > a{
        font-size: 1rem;
        padding: 1rem 0 1rem 1rem;
    }
    nav span{
        padding: 15px 0 15px 0;
    }
    nav > ul a{
        font-size: 0.7rem;
    }
    
    .work {
        padding: 0 2.5rem 0rem 2.5rem;
    }
    .work a img{
        width: calc(100vw - 5rem);
    }
    .work a h1{
        right: 7%;
    }
    
    .somerb::before, .inspace::before, .remixtype::before, .infodes1::before{
        font-size: 11px;
        right: -20px;
    }
    
    #comdes hr, #inspace hr, #remixtype hr, #infodes1 hr, #laika hr, #infodes2 hr{
        width: 100%;
    }
    
    .wrapper1{
        padding: calc(5vw + 50px) 1.5rem 0 1.5rem;
    }
    .side {
        padding: 3.5rem 1rem 0 1rem;
        top: -3.5rem;
    }
    .content{
        padding: 150px 1.5rem 0 1.5rem;
    }
    .content h1{
        font-size: 2rem;
        line-height: 2.5rem;
        width: 100%;
    }
    
    .content h3{
        width: 100%;
    }
    
    .content p{
        width: 100%;
    }
    
    #two {
        display: flex;
        flex-flow: column nowrap;
    }
    #two >*{
        width: auto;
    }
    #two p:first-of-type{
        align-self: flex-start;
        width: auto;
    }
    #four h3:last-of-type{
        margin-top: 400vh;
    }
    .main-carousel {
        width: calc(100vw - 3rem);
        height: calc(126vw - 3rem);
    }
    .carousel-2 {
        height: calc(133vw - 3rem);
    }
    .carousel-3, .carousel-4, .carousel-5{
        height: auto;
    }
    #one-l{
        padding-bottom: 300vh;
    }
    #comdes .banner{
        grid-template-columns: repeat(2, auto);
        height: 300vh;
    }
    
    footer h2{
        font-size: 35px;
        line-height: 40px;
    } 
    footer h2:last-of-type{
        font-size: 25px;
        line-height: 2rem;
    }
    footer h3{
        font-size: .7rem;
        margin: 0 0 0 20px;
        line-height: 1rem;
    }
    footer a{
        font-size: 12px;
        line-height: 1rem;
        margin-left: 20px;
    }
    footer p{
        font-size: .7rem;
        line-height: 1.2rem;
        margin-left: 20px;
        width: 95%;
    }
}
