@charset "UTF-8";

body, html{
  background-color:#f2ede1;
  height: 100%;
  width: 100%;
  margin: 0px;
  cursor: url('../img/cursor.png'), auto;
}

.landing {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  height: 100vh;
  background-color: #f2ede1;
  animation: landingbg 5s 1s;
}

@keyframes landingbg {
  0% { background-color: #f2ede1; }
  20% { background-color: darkblue; }
  40% { background-color: #0c4d0c; }
  60% { background-color: #f56353; }
  80% { background-color: #ff00c4; }
  100% { background-color: orangered; }
}

.landingtitle {
  height: auto;
  width: 160px;
  top: calc(50% - 135px);
  left: calc(50% - 83px);
  position: absolute;
  animation: titlecolor 5s step-end;
}

@keyframes titlecolor{
  0% { filter: hue-rotate(320deg) brightness(0.5) saturate(2.5); }
  20% { filter: hue-rotate(0deg) brightness(1) saturate(1); }
  40% { filter: hue-rotate(280deg) brightness(0.6) saturate(2.3); }
  60% { filter: hue-rotate(170deg) brightness(0.5) saturate(2.5); }
  80% { filter: hue-rotate(360deg) brightness(0) saturate(1.5); }
  100% { filter: hue-rotate(350deg) brightness(1.5) saturate(1.5); }
}

.landingimage {
  height: auto;
  width: 300px;
  opacity: 0;
  top: calc(50% - 140px);
  left: calc(50% - 150px);
  position: absolute;
  animation: ricepop 1s 5s linear forwards;
}

@keyframes ricepop{
  0% {
    transform: scale(0);
    opacity: 0
  } 50% {
    transform: scale(0.5);
    opacity: 1;
  } 100%{
    transform: scale(1);
    opacity: 1;
  }
}

.landingsub {
  opacity: 0;
  color: darkred;
  font-size: 11px;
  line-height: 20px;
  font-family: 'Press Start 2P', cursive;
  top: calc(50% + 36px);
  left: calc(50% + 45px);
  position: absolute;
  text-align: right;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap;/* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: ricepop 1s 6s linear forwards;
}

.scream-container {
  overflow: hidden;
}

.scream {
  white-space: nowrap;
  font-family: 'ZCOOL XiaoWei', serif;
  color: darkred;
  font-size: 35px;
  margin: 50px 0px;
  animation: moving 2s infinite linear;
}

@keyframes moving{
  from { transform: translateX(-10%); }
  to { transform: translateX(-50%); }
}

.info {
  margin: 0 auto;
  max-width: 700px;
  display: grid;
  grid-template-columns: 110px auto;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.info:before {
  content: "";
  position: absolute;
  z-index: -1;
  border: 0.25px solid darkred;
  top: 5px;
  left: -5px;
  right: -5px;
  bottom: 5px;
}

.infoborder {
  grid-column: 1/3;
  border: 0.25px solid darkred;
  padding: 10px;
}

.answer, .question {
  border: 0.25px solid darkred;
  padding: 5px;
  font-family: 'Play', sans-serif;
  color: darkred;
  line-height: 25px;
}

.abouttitle {
  grid-column: 1/4;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 50px;
  color: darkred;
}

.aboutinfo {
  grid-column: 1/4;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-family: 'Play', sans-serif;
  margin: 0 auto;
  color: darkred;
  max-width: 700px;
}

.text {
  height: auto;
  padding-bottom: 400px;
}

.about {
  height: auto;
  padding-bottom: 250px;
}

.polaroid {
  width: 100%;
  height: auto;
  margin-top: 80px;
  position: relative;
}

.polaroid:hover img:last-child{
  opacity: 1;
}

.polaroid img:last-child{
  opacity: 0;
}

.polaroid img{
  padding-top: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  transition: 0.5s ease-in-out;
}

.grid {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background: url(../img/GRID-01.png);
  background-size: contain;
  background-repeat: repeat;
}

.menu {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 200px;
  max-width: 1200px;
}

.menutitle {
  grid-column: 1/4;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 100px;
  color: #608671;
  margin-top: 100px;
}

.menuitem {
  position: relative;
}

.menutext {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 3vh;
  color: #608671;
  position: absolute;
  right: 5%;
  top: 2%;
}

.indent {
  margin-left: 10px;
}

.menuimage {
  height: auto;
  
  width: 100%;
}

.fullmenu {
  height: auto;
  width: 100%;
  max-width: 900px;
  display: block;
  margin: 0 auto;
  grid-column: 1/4;
}

.mom {
  background-image: url(../img/IMG_7385.png);
  background-size: cover;
  padding-top: 100px;
  padding-bottom:200px;
  height: 100vh;
}

.mommyscream {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-family: 'ZCOOL XiaoWei', serif;
  color: #608671;
  position: absolute;
  left: 80%;
  bottom: 25%;
}

.mommyscream span:nth-child(1) {
  display: inline-block;
  animation: oohyee 1s infinite alternate;
}

.mommyscream span:nth-child(2) {
  display: inline-block;
  animation: oohyee 1s infinite alternate;
}

.mommyscream span:nth-child(3) {
  display: inline-block;
  animation: oohyee 1s infinite alternate;
}

.mommyscream span:nth-child(4) {
  display: inline-block;
  animation: oohyee 1s infinite alternate;
}

@keyframes oohyee{
  from { font-size: 0; }
  to { font-size: 30px; }
}

.profileimages {
  position: relative;
  background-image: url(../img/mom-07.png);
  background-size: cover;
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto 30px auto;
}

.profile {
  margin: 50px auto;
  max-width: 500px;
  display: grid;
  grid-template-columns: 110px auto;
  position: relative;
}

.profileborder {
  grid-column: 1/3;
  border: 1px solid darkred;
  padding: 15px;
}

.profileborder2 {
  grid-column: 1/3;
  border: 1px solid darkred;
  padding: 5px;
}

.profile:before {
  content: "";
  position: absolute;
  z-index: 0;
  border: 1px solid darkred;
  top: 5px;
  left: -5px;
  right: -5px;
  bottom: 5px;
}

.profilesub {
  color: darkred;
  font-size: 11px;
  line-height: 20px;
  font-family: 'Press Start 2P', cursive;
  top: calc(50% + 300px);
  left: calc(50% + -60px);
  position: absolute;
  text-align: right;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap;/* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 4s infinite steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 20%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: darkred; }
}

@media only screen and (max-width:768px){
  .text {
    padding-bottom: 200px;
  }

  .polaroid {
    width: 100%;
    height: auto;
    margin-top: 0px;
    position: relative;
  }

  .polaroid:hover img:last-child{
    opacity: 1;
  }

  .polaroid img:last-child{
    opacity: 0;
  }

  .polaroid img{
    padding-top: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    transition: 0.5s ease-in-out;
  }

  .grid {
    height: auto;
    width: 100%;
    background-size: contain;
    background-repeat: repeat;
    padding-bottom: 10px;
  }
  
  .menutitle {
    grid-column: 1/3;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 100px;
    color: #608671;
    margin-top: 100px;
  }

  .menu {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  .fullmenu {
    grid-column: 1/3;
    max-width: 500px;
  }

  .mom {
    padding-bottom: 150px;
  }

  .profileimages {
    left: -2%;
  }
}

@media only screen and (max-width:400px) {
  .landingsub {
    opacity: 0;
    color: darkred;
    font-size: 7px;
    line-height: 20px;
    font-family: 'Press Start 2P', cursive;
    top: calc(50% + 36px);
    left: calc(50% + 45px);
    position: absolute;
    text-align: right;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap;/* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: ricepop 1s 6s linear forwards;
  }

  .landingtitle {
    height: auto;
    width: 160px;
    top: calc(50% - 135px);
    left: calc(50% - 83px);
    position: absolute;
    animation: titlecolor 5s step-end;
  }

  .about {
    margin-bottom: 10px;
    padding-bottom: 70px;
  }

  .polaroid {
    width: 100%;
    height: auto;
    position: relative;
  }

  .polaroid:hover img:last-child {
    opacity: 1;
  }

  .polaroid img:last-child{
    opacity: 0;
  }

  .polaroid img{
    padding-top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    transition: 0.5s ease-in-out;
  }

  .text {
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
  }

  .menutitle {
    grid-column: 1/2;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 100px;
    color: #608671;
    margin-top: 100px;
  }

  .grid {
    height: auto;
    width: 100%;
    background-size: contain;
    background-repeat: repeat;
    padding-bottom: 10px;
  }

  .menu {
    width: 100%;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .menuitem {
    grid-column: 1/2;
  }

  .fullmenu {
    max-width: 300px;
  }

  .profile {
    margin: 50px auto;
    max-width: 300px;
    display: grid;
    grid-template-columns: 110px auto;
    position: relative;
  }

  .profileimages {
    height: 250px;
    width: 250px;
    left: -2%;
  }

  .mommyscream {
    bottom: 28%;
  }

  @keyframes oohyee{
    from { font-size: 0; }
    to { font-size: 20px; }
  }

  .mom {
    padding-bottom: 250px;
  }
}
