/* For all works pages */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 4rem;
  line-height: 1.25em;
}

h2, h3 {
  font-weight: 700;
}

/* The Left/Right CSS Grid */
header, main {
  margin: 4.5rem 10rem 0 4.5rem;
  display: grid;
  grid-template-columns: minmax(15rem, 3fr) 7fr;
  grid-template-rows: 1fr;
  column-gap: 10rem;
}

main {
  margin-top: 1rem;
}

/* The Right side of the Grid */
header>:last-child, main>:last-child {
  max-width: 800px;
  justify-self: flex-end;
}

header img {
  object-fit: contain;
  object-position: top right;
  margin-left: auto;
}

header .about span {
  font-weight: 700;
  font-style: italic;
}

header .about p {
  margin-top: 0.25em;
}

header .about {
  font-size: 1em;
  margin-top: 1.8em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid rgb(25, 25, 25);
}

ol.sticky {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: right;
  box-sizing: border-box;
  height: calc(100vh - 12.5rem);
}

ol.sticky li {
  transition: flex-grow 1000ms cubic-bezier(0.16, 1, 0.3, 1);
  flex-basis: 1.25em;
  flex-grow: 0;
}

ol.sticky li.active {
  flex-grow: 1;
}

ol.sticky a {
  color: black;
  text-decoration: none;
}

ol.sticky a:hover {
  text-decoration: line-through;
}

main>div>* {
  margin-bottom: 6.25rem;
}

/* For ScrollReveal, spacing */
.content {
  margin-bottom: 50vh;
}

.content:last-of-type {
  margin-bottom: 65vh;
}

.content, ol.sticky {
  padding-top: 6.25rem;
}

/* All body/text elements */
.content p:not(:first-child),
.content ol:not(:first-child),
.content ul:not(:first-child) {
  margin-top: 0.6em;
}

/* Carousel, headers, and body elements after the larger body elements (p's
 * after a ul, etc.) */
.content .carousel:not(:first-child),
.content h3:not(:first-child),
.content ol+p,
.content ul+p,
.content .carousel+p,
.content .carousel+ul,
.content .carousel+ol {
  margin-top: 1.8em;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.carousel img {
  display: block;
  object-fit: contain;
  object-position: center;
}

.keen-slider {
  height: 100%;
}